@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Unbounded:wght@200..900&display=swap');



/* Base typography */
*,
html,
body,
p,
h2,
h3,
h4,
h5,
h6,
li,
a,
input,
button,
textarea,
select,
span,
div {
    font-family: "DM Sans", sans-serif;
    /* color: #111; */
}
a {
    text-decoration: none;
}
h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  /* line-height: 1.2; */
}

html, body {
  margin: 0;
  padding:0;
  width:100%;
  height: 100%;
  background-color: #f2f0f1;
  overflow-x: hidden;

}

main {
    width: 100%;
    height: 100%;
}

.marque-container {
  width: 100%;
  height: 38px;

  /* padding: 10px; */
}
.marque-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding:10px,

}



.marque-content p {
    font-size: 16px;
    color: #fff;
    margin: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav {
    display: none;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
    color: #8e8888;
    text-decoration: underline;
}
button{
    border: none;
    background-color: transparent;
}
button img {
    width: 24px;
    height: 24px;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Integral CF",  sans-serif;
}

header {
    height: 64px;
    background-color: #fff;
}

.hero {
    margin-top: 40px;
    padding:16px;
}
.hero-content-left p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #8e8888;
}
.hero button  {
    width:100%;
    /* max-width: 358px; */
    height: 52px;
    border-radius: 62px;
    background-color: #000000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}
.hero button .shop-btn-text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

}
.hero-content-left-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:16px;
    gap:16px;

}
.hero-content-left-stats h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    font-family: "Unbounded", sans-serif;
}
.hero-content-left-stats p {
    font-size: 12px;
    font-weight: 400;
    color: #8e8888;
} 

.hero-content-right img {
    width: 100%;
    height: 100%;
}

.brand {
    background-color: #000;
    padding:24px 16px;
    display: flex;
    flex-wrap: wrap;
    gap:12px;
    justify-content: space-between;
    align-items: center;
}

.product-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:40px;
    /* justify-content: center; */
    /* align-items: center; */
}

.products {
    display: flex;
    flex-direction: column;
    margin:20px;
}

.single-product {
    display: flex;
    flex-direction: column;
    width: 295px;
}

.product-image  {
    width: 295px;
    height: 298px;
    border-radius: 20px;
    border: 1px solid #f0eeed;
    background-color: #f0eeed;
    padding: 16px;
}

